<h1>ブログ一覧</h1>

<table>
  <% @blogs.each do |blog|%>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <% if current_user && blog.user == current_user %>
        <td><%= link_to "見る", blog_path(blog) %></td>
        <td><%= link_to "編集", edit_blog_path(blog) %></td>
        <td><%= link_to "削除", blog_path(blog), method: :delete, data: {confirm: "タイトル「#{blog.title}」の記事を削除してよろしいですか？"} %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "ブログ作成", new_blog_path %></p>

