<h1><%= @blog.title %></h1>
<p><%= @blog.created_at.strftime("%F") %></p>
<p><%= simple_format @blog.content  %></p>
<p><%= image_tag @blog.image.url %></p>

<p>
  <%= link_to "トップページへ", blogs_path %>
  <%= link_to "編集する", edit_blog_path(@blog.id) %>
  <%= link_to "削除する", blog_path(@blog.id), method: :delete, data: {confirm: "タイトル「#{@blog.title}」の記事を削除してよろしいですか？"}  %>
</p>
