<h1><%= "#{@user.name}さんのブログ一覧"%></h1>

<% @user.blogs.each do |blog| %>
  <p><%= blog.created_at.strftime("%F") %></p>
  <p><%= blog.title %></p>
  <p><%= simple_format blog.content %></p>
<% end %>

<p>
  <%= link_to "トップページへ", blogs_path %>
</p>
